body {
    background-color: #333;
    font-family: Arial, sans-serif;
    color: white;
    padding: 30px;
}

.container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

form {
    flex: 1;
}

h2 {
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
}

input::placeholder,
textarea::placeholder {
    color: #bbb;
}

.row {
    display: flex;
    gap: 10px;
}

.row>input {
    flex: 1;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.submit-btn {
    background-color: #c00;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.recaptcha {
    background-color: white;
    height: 75px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
}

.right-panel {
    max-width: 300px;
    text-align: center;
}

.right-panel img {
    width: 70px;
    margin: 10px;
}

.right-panel p {
    font-size: 14px;
    color: #ccc;
}