.hero {

    text-align: center;

    padding: 50px 20px;

    background-color: red;
    color: white;
}

.hero h1 {

    font-size: 36px;

    margin-bottom: 40px;

}

.stats-container {

    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    gap: 20px;

    padding: 20px;
    background-color:  grey;

}

.stat-box {

    background-color: rgba(255, 255, 255, 0.1);

    border: 1px solid white;

    border-radius: 8px;

    padding: 30px 20px;

    min-width: 180px;

    text-align: center;

}

.stat-box h2 {

    font-size: 28px;

    margin: 0;

}

.stat-box p {

    margin: 10px 0 0;

    font-size: 14px;   }
        .icon-grid {
    
            display: grid;
    
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
            gap: 30px;
    
            max-width: 1000px;
    
            margin: auto;
    
        }
    
        .icon-box {
    
            text-align: center;
    
        }
    
        .icon-circle {
    
            width: 70px;
    
            height: 70px;
    
            border-radius: 50%;
    
            margin: auto;
    
            display: flex;
    
            align-items: center;
    
            justify-content: center;
    
            margin-bottom: 10px;
    
        }
    
        .red {
    
            background-color: #c62828;
    
        }
    
        .gray {
    
            background-color: #4e4e4e;
    
        }
    
        .icon-circle img {
    
            width: 32px;
    
            height: 32px;
    
            filter: invert(1);
    
        }
    
        .icon-title {
    
            font-weight: bold;
    
            margin-bottom: 5px;
    
        }
    
        .icon-subtext {
    
            font-size: 14px;
    
            color: #666;   }